![](https://images.theconversation.com/files/341551/original/file-20200612-153812-ws3rqu.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=754&fit=clip)

Hi Welcome to my EDA Task about COVID vaccine distribution. For this task we have been asked to answer two questions by exploring the dataset:

1. (A) a list of the top 10 states that distributed the most vaccines total.
2. (B) a list of the top 10 states that distributed the most vaccines per capita -- for the past 7 days.

The dataset seems to be being updated quite regularly so my answers may differ from other submissions.

* [Import Libraries and Load dataset.](#1)
* [Explore Data](#2)
* [Q1 Working Out](#3)
* [Q1 Answer](#4)
* [Q2 Working Out](#5)
* [Q2 Answer](#6)

<a id = "1"></a><br>
# Import the neseccary

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
covid = pd.read_csv("../input/usa-covid19-vaccinations/us_state_vaccinations.csv")

<a id = "2"></a><br>
# Explore Dataset

In [3]:
covid.head()

,date,location,total_vaccinations,total_distributed,people_vaccinated,people_fully_vaccinated_per_hundred,total_vaccinations_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,distributed_per_hundred,daily_vaccinations_raw,daily_vaccinations,daily_vaccinations_per_million,share_doses_used
0,2021-01-12,Alabama,78134.0,377025.0,70861.0,0.15,1.59,7270.0,1.45,7.69,NaN,NaN,NaN,0.207
1,2021-01-13,Alabama,84040.0,378975.0,74792.0,0.19,1.71,9245.0,1.53,7.73,5906.0,5906.0,1205.0,0.222
2,2021-01-14,Alabama,92300.0,435350.0,80480.0,NaN,1.88,NaN,1.64,8.88,8260.0,7083.0,1445.0,0.212
3,2021-01-15,Alabama,100567.0,444650.0,86956.0,0.28,2.05,13488.0,1.77,9.07,8267.0,7478.0,1525.0,0.226
4,2021-01-16,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7557.0,7498.0,1529.0,NaN

In [4]:
covid.describe()

,total_vaccinations,total_distributed,people_vaccinated,people_fully_vaccinated_per_hundred,total_vaccinations_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,distributed_per_hundred,daily_vaccinations_raw,daily_vaccinations,daily_vaccinations_per_million,share_doses_used
count,5.863000e+03,5.763000e+03,5.751000e+03,5369.000000,5471.000000,5.669000e+03,5446.000000,5458.000000,6.068000e+03,6.068000e+03,5661.000000,5763.000000
mean,2.835465e+06,3.712938e+06,1.859633e+06,9.610691,27.361837,9.564218e+05,18.033461,37.951933,6.608007e+04,6.364312e+04,5953.158453,0.695017
std,1.278212e+07,1.671072e+07,8.417801e+06,7.425904,17.621524,4.699572e+06,10.582232,22.245322,2.774482e+05,2.583822e+05,2726.476266,0.161150
min,4.160000e+02,6.000000e+03,4.010000e+02,0.000000,0.170000,1.000000e+00,0.240000,6.140000,-4.453500e+04,0.000000e+00,0.000000,0.043000
25%,2.169280e+05,3.348125e+05,1.546925e+05,2.790000,11.860000,4.550500e+04,9.140000,18.505000,4.099500e+03,6.353250e+03,3855.000000,0.605000
50%,6.885760e+05,9.720650e+05,4.735290e+05,8.410000,24.660000,1.983790e+05,16.370000,33.970000,1.641000e+04,1.841350e+04,5777.000000,0.736000
75%,1.928917e+06,2.415805e+06,1.224244e+06,15.020000,40.780000,6.294700e+05,26.100000,54.085000,4.410400e+04,4.327925e+04,7659.000000,0.804000
max,1.983170e+08,2.554007e+08,1.258229e+08,41.530000,89.420000,7.849829e+07,56.230000,137.380000,4.629928e+06,3.384387e+06,22525.000000,1.105000

In [5]:
covid.dtypes

date                                    object
location                                object
total_vaccinations                     float64
total_distributed                      float64
people_vaccinated                      float64
people_fully_vaccinated_per_hundred    float64
total_vaccinations_per_hundred         float64
people_fully_vaccinated                float64
people_vaccinated_per_hundred          float64
distributed_per_hundred                float64
daily_vaccinations_raw                 float64
daily_vaccinations                     float64
daily_vaccinations_per_million         float64
share_doses_used                       float64
dtype: object

In [6]:
covid.shape

(6133, 14)

In [7]:
round((covid.isnull().sum()/covid.shape[0])*100,2)

date                                    0.00
location                                0.00
total_vaccinations                      4.40
total_distributed                       6.03
people_vaccinated                       6.23
people_fully_vaccinated_per_hundred    12.46
total_vaccinations_per_hundred         10.79
people_fully_vaccinated                 7.57
people_vaccinated_per_hundred          11.20
distributed_per_hundred                11.01
daily_vaccinations_raw                  1.06
daily_vaccinations                      1.06
daily_vaccinations_per_million          7.70
share_doses_used                        6.03
dtype: float64

In [8]:
covid.iloc[1]

date                                   2021-01-13
location                                  Alabama
total_vaccinations                      84040.000
total_distributed                      378975.000
people_vaccinated                       74792.000
people_fully_vaccinated_per_hundred         0.190
total_vaccinations_per_hundred              1.710
people_fully_vaccinated                  9245.000
people_vaccinated_per_hundred               1.530
distributed_per_hundred                     7.730
daily_vaccinations_raw                   5906.000
daily_vaccinations                       5906.000
daily_vaccinations_per_million           1205.000
share_doses_used                            0.222
Name: 1, dtype: object

In [9]:
covid.iloc[2]

date                                   2021-01-14
location                                  Alabama
total_vaccinations                      92300.000
total_distributed                      435350.000
people_vaccinated                       80480.000
people_fully_vaccinated_per_hundred           NaN
total_vaccinations_per_hundred              1.880
people_fully_vaccinated                       NaN
people_vaccinated_per_hundred               1.640
distributed_per_hundred                     8.880
daily_vaccinations_raw                   8260.000
daily_vaccinations                       7083.000
daily_vaccinations_per_million           1445.000
share_doses_used                            0.212
Name: 2, dtype: object

In [10]:
covid.iloc[3]

date                                   2021-01-15
location                                  Alabama
total_vaccinations                     100567.000
total_distributed                      444650.000
people_vaccinated                       86956.000
people_fully_vaccinated_per_hundred         0.280
total_vaccinations_per_hundred              2.050
people_fully_vaccinated                 13488.000
people_vaccinated_per_hundred               1.770
distributed_per_hundred                     9.070
daily_vaccinations_raw                   8267.000
daily_vaccinations                       7478.000
daily_vaccinations_per_million           1525.000
share_doses_used                            0.226
Name: 3, dtype: object

So theres some missing data. There doesnt seem to be much of a reason behind the one I've looked at. I've brought up some rows from Alabama to try and understand what impact the missing data has and if theres any rhyme or reason to fill it with something or if it's fine to leave it out.

The highest missing values are the following:

1. people_fully_vaccinated_per_hundred    13.94%
2. people_vaccinated_per_hundred          12.39%
3. distributed_per_hundred                12.15%
4. total_vaccinations_per_hundred         11.89%

In [11]:
covid.columns

Index(['date', 'location', 'total_vaccinations', 'total_distributed',
       'people_vaccinated', 'people_fully_vaccinated_per_hundred',
       'total_vaccinations_per_hundred', 'people_fully_vaccinated',
       'people_vaccinated_per_hundred', 'distributed_per_hundred',
       'daily_vaccinations_raw', 'daily_vaccinations',
       'daily_vaccinations_per_million', 'share_doses_used'],
      dtype='object')

In [12]:
covid.groupby(["location"]).sum()

,total_vaccinations,total_distributed,people_vaccinated,people_fully_vaccinated_per_hundred,total_vaccinations_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,distributed_per_hundred,daily_vaccinations_raw,daily_vaccinations,daily_vaccinations_per_million,share_doses_used
location,,,,,,,,,,,,
Alabama,91832317.0,145628990.0,63158614.0,650.87,1872.89,31914394.0,1288.10,2970.06,2129258.0,2052027.0,418506.0,53.399
Alaska,23746876.0,35461820.0,15030246.0,1205.82,3246.16,8821110.0,2054.61,4847.49,463977.0,450443.0,615748.0,58.194
American Samoa,1790620.0,3007580.0,1137979.0,1175.84,3215.42,654821.0,2043.45,5400.56,32662.0,33457.0,600780.0,50.930
Arizona,177304471.0,227360810.0,116306258.0,801.59,2435.94,58346246.0,1597.83,3123.60,4165247.0,4062819.0,558182.0,64.804
Arkansas,64816764.0,95694755.0,43790334.0,720.51,2147.81,21742931.0,1451.09,3171.02,1494256.0,1535063.0,508670.0,59.375
...,...,...,...,...,...,...,...,...,...,...,...,...
Virginia,210848600.0,262308605.0,141475677.0,833.60,2470.19,71146647.0,1657.49,3073.14,5154652.0,4983632.0,583864.0,67.270
Washington,184927234.0,237502085.0,121760640.0,847.66,2428.55,64549024.0,1598.95,3118.88,4517385.0,4348829.0,571097.0,65.843
West Virginia,49959426.0,62330065.0,31024230.0,1033.71,2787.71,18525767.0,1731.14,3477.92,943626.0,946695.0,528245.0,73.455
Wisconsin,149241772.0,175576050.0,98204145.0,889.42,2563.20,51789452.0,1686.65,3015.53,3670565.0,3550754.0,609840.0,70.124
Wyoming,14233165.0,20154720.0,9018292.0,888.85,2459.25,5144255.0,1558.23,3482.38,300755.0,295528.0,510619.0,61.603

In [13]:
fake_states = covid.location.unique()
fake_states = fake_states.tolist()
fake_states

['Alabama',
 'Alaska',
 'American Samoa',
 'Arizona',
 'Arkansas',
 'Bureau of Prisons',
 'California',
 'Colorado',
 'Connecticut',
 'Delaware',
 'Dept of Defense',
 'District of Columbia',
 'Federated States of Micronesia',
 'Florida',
 'Georgia',
 'Guam',
 'Hawaii',
 'Idaho',
 'Illinois',
 'Indian Health Svc',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Long Term Care',
 'Louisiana',
 'Maine',
 'Marshall Islands',
 'Maryland',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Montana',
 'Nebraska',
 'Nevada',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'New York State',
 'North Carolina',
 'North Dakota',
 'Northern Mariana Islands',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Puerto Rico',
 'Republic of Palau',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'United States',
 'Utah',
 'Vermont',
 'Veterans Health',
 'Virgin Islands',
 'Virginia',
 'Washington',
 'West Virginia',
 'Wisconsin',
 'Wyoming']

In [14]:
len(covid.location.unique())

65

It seems that there are a few more "states" listed than are actually applicable according to a quick search there are 50 US states. Fun Fact Washington DC is actually a federal district. I've put together a list of the actual US states and will create a dataframe to continue working on from. 

https://uk.usembassy.gov/states-of-the-union-states-of-the-u-s/#:~:text=There%20are%20fifty%20(50)%20states,under%20the%20authority%20of%20Congress.

In [15]:
real_states = ["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky",
               "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina",
               "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia",
               "Wisconsin", "Wyoming"]


if len(real_states) == 50:
    print("You're on the ball, keep going tiger")

You're on the ball, keep going tiger

In [16]:
coviddf = covid.location.isin(real_states)
filtered = covid[coviddf]
filtered.head()

,date,location,total_vaccinations,total_distributed,people_vaccinated,people_fully_vaccinated_per_hundred,total_vaccinations_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,distributed_per_hundred,daily_vaccinations_raw,daily_vaccinations,daily_vaccinations_per_million,share_doses_used
0,2021-01-12,Alabama,78134.0,377025.0,70861.0,0.15,1.59,7270.0,1.45,7.69,NaN,NaN,NaN,0.207
1,2021-01-13,Alabama,84040.0,378975.0,74792.0,0.19,1.71,9245.0,1.53,7.73,5906.0,5906.0,1205.0,0.222
2,2021-01-14,Alabama,92300.0,435350.0,80480.0,NaN,1.88,NaN,1.64,8.88,8260.0,7083.0,1445.0,0.212
3,2021-01-15,Alabama,100567.0,444650.0,86956.0,0.28,2.05,13488.0,1.77,9.07,8267.0,7478.0,1525.0,0.226
4,2021-01-16,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7557.0,7498.0,1529.0,NaN

In [17]:
filtered.location.value_counts()

Wisconsin         94
Louisiana         94
Utah              94
Wyoming           94
Mississippi       94
South Carolina    94
Oregon            94
Tennessee         94
Idaho             94
New Hampshire     94
Kentucky          94
Ohio              94
West Virginia     94
Alaska            94
Pennsylvania      94
Missouri          94
Arizona           94
Maryland          94
Florida           94
Arkansas          94
Alabama           94
Nebraska          94
Hawaii            94
Nevada            94
Rhode Island      94
Illinois          94
South Dakota      94
Massachusetts     94
New Jersey        94
Vermont           94
Kansas            94
Georgia           94
Colorado          94
Minnesota         94
North Carolina    94
California        94
Maine             94
Virginia          94
Texas             94
Delaware          94
Iowa              94
Montana           94
Indiana           94
Michigan          94
Washington        94
Oklahoma          94
New Mexico        94
Connecticut       94
North Dakota      94
Name: location, dtype: int64

In [18]:
filtered.date.value_counts()

2021-03-03    49
2021-02-23    49
2021-03-05    49
2021-03-10    49
2021-03-26    49
              ..
2021-03-21    49
2021-02-13    49
2021-03-22    49
2021-01-25    49
2021-03-29    49
Name: date, Length: 94, dtype: int64

In [19]:
filtered.date.value_counts().shape[0]

94

In [20]:
filtered.shape[0] / filtered.date.value_counts().shape[0]

49.0

<a id = "3"></a><br>
# Question 1 Working Out

So far this is quite good news. There are 78 unique date stamps repeated 49 times across all columns so the data is nicely shaped.

Time to move on to trying to answer one of the questions.

In [21]:
filtered.head()

,date,location,total_vaccinations,total_distributed,people_vaccinated,people_fully_vaccinated_per_hundred,total_vaccinations_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,distributed_per_hundred,daily_vaccinations_raw,daily_vaccinations,daily_vaccinations_per_million,share_doses_used
0,2021-01-12,Alabama,78134.0,377025.0,70861.0,0.15,1.59,7270.0,1.45,7.69,NaN,NaN,NaN,0.207
1,2021-01-13,Alabama,84040.0,378975.0,74792.0,0.19,1.71,9245.0,1.53,7.73,5906.0,5906.0,1205.0,0.222
2,2021-01-14,Alabama,92300.0,435350.0,80480.0,NaN,1.88,NaN,1.64,8.88,8260.0,7083.0,1445.0,0.212
3,2021-01-15,Alabama,100567.0,444650.0,86956.0,0.28,2.05,13488.0,1.77,9.07,8267.0,7478.0,1525.0,0.226
4,2021-01-16,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7557.0,7498.0,1529.0,NaN

In [22]:
QA = filtered[["location", "total_distributed"]]
QA

     location  total_distributed
0     Alabama           377025.0
1     Alabama           378975.0
2     Alabama           435350.0
3     Alabama           444650.0
4     Alabama                NaN
...       ...                ...
6128  Wyoming           450525.0
6129  Wyoming           450525.0
6130  Wyoming           453025.0
6131  Wyoming           460205.0
6132  Wyoming           462605.0

[4606 rows x 2 columns]

In [23]:
QA.sort_values(by="total_distributed").head(10)

          location  total_distributed
6039       Wyoming            47800.0
3948  North Dakota            53525.0
6040       Wyoming            57800.0
6046       Wyoming            58775.0
6042       Wyoming            58775.0
6041       Wyoming            58775.0
6047       Wyoming            62575.0
5381       Vermont            64925.0
3949  North Dakota            66725.0
6048       Wyoming            67450.0

By using max() in a groupby i will be able to grab the highest and therefore latest values in the timeseries of events. Naturally if there are 10 more vaccines distributed than yesterday, the latest value will always be the highest, it wont be able to go down.

In [24]:
Q2 = QA.groupby(by="location").max().sort_values(by="total_distributed",ascending=False)
Q2.head(10)

                total_distributed
location
California             31427050.0
Texas                  20813575.0
Florida                17004215.0
Pennsylvania           10204085.0
Illinois                9951575.0
Ohio                    9005615.0
North Carolina          7895410.0
Georgia                 7828695.0
Michigan                7657840.0
New Jersey              6902305.0

<a id = "4"></a><br>
# Q1 Answer
Answering the question: "(A) a list of the top 10 states that distributed the most vaccines total."
Yields this list: 
1. California
2. Texas
3. Florida
4. Pennysylvania
5. Illinois
6. Ohio
7. North Carolina
8. Georgia
9. Michigan
10. New Jersey

<a id = "5"></a><br>
# Q2 Working Out
In order to find the top ten states of distribution per capita, i can use the distribution per 100 column and divide it by 100 in order to arrive at the per capita amount. 
Realistically, dividing it by 100 or just leaving it as it is will still yield the same top 10 results. I will however do the division as i will be able to generate a per person value.

In [25]:
filtered.head()

,date,location,total_vaccinations,total_distributed,people_vaccinated,people_fully_vaccinated_per_hundred,total_vaccinations_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,distributed_per_hundred,daily_vaccinations_raw,daily_vaccinations,daily_vaccinations_per_million,share_doses_used
0,2021-01-12,Alabama,78134.0,377025.0,70861.0,0.15,1.59,7270.0,1.45,7.69,NaN,NaN,NaN,0.207
1,2021-01-13,Alabama,84040.0,378975.0,74792.0,0.19,1.71,9245.0,1.53,7.73,5906.0,5906.0,1205.0,0.222
2,2021-01-14,Alabama,92300.0,435350.0,80480.0,NaN,1.88,NaN,1.64,8.88,8260.0,7083.0,1445.0,0.212
3,2021-01-15,Alabama,100567.0,444650.0,86956.0,0.28,2.05,13488.0,1.77,9.07,8267.0,7478.0,1525.0,0.226
4,2021-01-16,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7557.0,7498.0,1529.0,NaN

In [26]:
QB = filtered[["location", "distributed_per_hundred"]]
QB

     location  distributed_per_hundred
0     Alabama                     7.69
1     Alabama                     7.73
2     Alabama                     8.88
3     Alabama                     9.07
4     Alabama                      NaN
...       ...                      ...
6128  Wyoming                    77.84
6129  Wyoming                    77.84
6130  Wyoming                    78.28
6131  Wyoming                    79.52
6132  Wyoming                    79.93

[4606 rows x 2 columns]

In [27]:
Q3 = QB.groupby(by="location").max().sort_values(by="distributed_per_hundred",ascending=False)
Q3.head(10)

               distributed_per_hundred
location
Alaska                           99.69
Connecticut                      91.08
Vermont                          89.08
South Dakota                     88.29
New Mexico                       87.65
Hawaii                           87.26
Oklahoma                         84.56
Massachusetts                    83.69
Maine                            83.12
Rhode Island                     82.02

Answering the question: "2. (B) a list of the top 10 states that distributed the most vaccines per capita -- for the past 7 days." wouldnt yield the list above.  

I have missed out the significant part of "past 7 days". This list is still interesting and I will be able to compare it to the final answer when I have removed all dates older than 7 days old in the dataset.

In [28]:
filtered.date.tail(8)

6125    2021-04-08
6126    2021-04-09
6127    2021-04-10
6128    2021-04-11
6129    2021-04-12
6130    2021-04-13
6131    2021-04-14
6132    2021-04-15
Name: date, dtype: object

In [29]:
moo = filtered[(filtered['date'] > "2021-04-09") ]
moo.shape

(294, 14)

In [30]:
Q4 = moo[["location", "distributed_per_hundred"]]
Q4 = Q4.groupby(by="location").max().sort_values(by="distributed_per_hundred",ascending=False)
Q4.head(10)

               distributed_per_hundred
location
Alaska                           99.69
Connecticut                      91.08
Vermont                          89.08
South Dakota                     88.29
New Mexico                       87.65
Hawaii                           87.26
Oklahoma                         84.56
Massachusetts                    83.69
Maine                            83.12
Rhode Island                     82.02

Strangely enough they seem to be exactly the same. It didnt take me long to realise what I need to do in order to make it right.

I need to create a seperate dataframe withe max values for before 7 days ago. I could then merge dataframes with Q4 and then perform an aggregate and subtract one from the other to find out who has distributed the most in the last 7 days.

In [31]:
foo = filtered[(filtered['date'] < "2021-04-09") ]
foo.shape

(4263, 14)

In [32]:
foo.date

0       2021-01-12
1       2021-01-13
2       2021-01-14
3       2021-01-15
4       2021-01-16
           ...
6121    2021-04-04
6122    2021-04-05
6123    2021-04-06
6124    2021-04-07
6125    2021-04-08
Name: date, Length: 4263, dtype: object

In [33]:
Q5 = foo[["location", "distributed_per_hundred"]]
Q5 = Q5.groupby(by="location").max().sort_values(by="distributed_per_hundred",ascending=False)
Q5.head(10)

               distributed_per_hundred
location
Alaska                           94.73
South Dakota                     81.58
Connecticut                      80.60
Hawaii                           79.29
Vermont                          79.14
New Mexico                       79.09
Oklahoma                         77.47
Wyoming                          75.34
Massachusetts                    74.47
Maine                            74.29

In [34]:
bar = Q4 - Q5
bar.head()

            distributed_per_hundred
location
Alabama                        7.06
Alaska                         4.96
Arizona                        7.13
Arkansas                       7.16
California                     9.03

In [35]:
bar.sort_values(by="distributed_per_hundred", ascending=False).head(10)

               distributed_per_hundred
location
Connecticut                      10.48
Vermont                           9.94
Rhode Island                      9.48
Massachusetts                     9.22
California                        9.03
Maryland                          9.03
Maine                             8.83
Delaware                          8.69
New Hampshire                     8.67
New Mexico                        8.56

So the final list in in, I'll make a table to compare the two.

| Wrong List      | Right List |
| ----------- | ----------- |
| Alaska     | Conneticut      |
| Conneticut   | Vermont        |
| Vermont        | Rhode Island   |
| South Dakota       | Massachussetts |
| New Mexico     | California  |
| Hawaii       | Maryland    |
| Oklahoma     | Maine      |
| Massachussetts  | Delaware    |
| Maine     | New Hampshire |
| Rhode Island  | New Mexico  |

<a id = "6"></a><br>
# Q2 Answer
So to answer the second question: "2. (B) a list of the top 10 states that distributed the most vaccines per capita -- for the past 7 days." The top 10 states are as follows:
1. Conneticut
2. Vermont
3. Rhode Island
4. Massachussetts
5. California
6. Maryland
7. Maine
8. Delaware
9. New Hampshire
10. New Mexico

Thanks for reading through my Task submission. I've leaerned quite a few things about notebooks with this particular exercise. If anyone notices anything wrong or untowards, please make a comment and I'll do my best to reply and fix my mistake.